/*Global settings*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Variables*/
:root {
    --primary: #d9d9d9;
    --secondary: #161616;
    --black: #000000;
    --green: #6a994e;
    --red: #bc4749;
    --font: 'Press Start 2P';
    --opacity: 0.5;
}

/*Html elements*/
body {
    font-family: var(--font);
    background-color: var(--primary);
    color: var(--primary);
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding: 1rem;
    background-color: var(--primary);
}

/*Information-text modal*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal-content {
    background-color: #232323;
    position: fixed;
    bottom: 0;
    padding: 1rem;
    width: 100%;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 0.4s;
    animation-name: animatebottom;
    animation-duration: 0.4s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -300px;
        opacity: 0
    } to {
        bottom: 0;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -300px;
        opacity: 0
    } to {
        bottom: 0;
        opacity: 1
    }
}

/*Buttons*/
.btn {
    padding: 0.5rem 2rem;
    color: var(--secondary);
    background-color: var(--secondary);
    border: 1px solid var(--primary);
    font-family: var(--font);
}

.btn:hover,
.btn:focus {
    color: var(--primary);
    cursor: pointer;
    opacity: 0.8;
    border: 1px solid var(--secondary);
}

/*Button colors*/
.success {
    background-color: var(--green);
}

.danger {
    background-color: var(--red);
}

/*Shapes*/
.square, .rectangle {
    background-color: var(--secondary);
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Shape dimensions*/
/*Acronyms 
sq: square
rec: rectangle */
.sq-big {
    width: 16rem;
    height: 16rem;
}

.sq-small {
    width: 8rem;
    height: 8rem;
}

.rec-big {
    width: 18rem;
    height: 4rem;
}

.rec-small {
    width: 9rem;
    height: 4rem;
    font-size: 0.6rem;
}

/*Containers and alignments*/
.ui-container {
    display: flex;
    gap: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.left {
    align-items: flex-end;
}

.right {
    align-items: flex-start;
}

/*Texts*/
.information-text {
    color: var(--primary);
    margin-bottom: 1rem;
}

.hide {
    display: none;
}

.show {
    display: flex;
}

.opacity {
    opacity: 0.1;
}

.border {
    border: 2px solid var(--green);
}

#screen3 .square {
    padding: 1rem;
    flex-direction: row;
    align-items: flex-end;
    gap: 1rem;
    position: relative;
}

#screen3 #numbers {
    position: absolute;
    top: 4rem;
    font-size: 1.5rem;
}

#screen3 #result {
    position: absolute;
    top: 7rem;
}

#screen3 .btn {
    width: 50%;
    height: 4rem;
    font-size: 2rem;
}